// basic variables
break = 740px

// general
:root
  font-size: 16px
  --sl-spacing-larger: 1.5rem
  --hide-duration: 1s

body
  font-family: var(--sl-font-sans)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: var(--sl-color-gray-800)
  margin: 0

// headings
h1
  font-size: var(--sl-font-size-xxxx-large)
  font-weight: var(--sl-font-weight-light)
  margin-bottom: var(--sl-spacing-xx-large)
h2
  font-size: var(--sl-font-size-xx-large)
  font-weight: var(--sl-font-weight-light)
h3
  font-size: var(--sl-font-size-large)
  font-weight: var(--sl-font-weight-semibold)
h1, h2, h3
  margin-top: 0
a, a:visited
  color: var(--sl-color-primary-500)
  text-decoration: none
  transition: color var(--sl-transition-fast) ease
  &:hover
    color: var(--sl-color-primary-300)
pre
  font-family: var(--sl-font-mono)
  padding: var(--sl-spacing-small)
  background: var(--sl-color-gray-50)
hr
  border: none
  height: var(--sl-spacing-xx-small)
  width: 30%
  margin: -1.5rem auto var(--sl-spacing-xxx-large) auto
  padding: 0
  border-radius: var(--sl-border-radius-pill)

// spacing
.m-none
  margin: 0
.mt-xxxs
  margin-top: var(--sl-spacing-xxx-small)
.mt-xxs
  margin-top: var(--sl-spacing-xx-small)
.mt-xxl
  margin-top: var(--sl-spacing-xx-large)
.mr-xs
  margin-right: var(--sl-spacing-x-small)
.mr-s
  margin-right: var(--sl-spacing-small)
.mr-auto
  margin-right: auto
.mb-xxs
  margin-bottom: var(--sl-spacing-xx-small)
.mb-m
  margin-bottom: var(--sl-spacing-medium)
.mb-xxxl
  margin-bottom: var(--sl-spacing-xxx-large)
.ml-m
  margin-left: var(--sl-spacing-medium)
.gap-m
  gap: var(--sl-spacing-medium)

// positioning
.content-center
  text-align: center
.d-flex
  display: flex
.d-flex-column
  display: flex
  flex-direction: column
.flex-wrap
  flex-wrap: wrap
.align-items-center
  align-items: center
.justify-end
  justify-content: flex-end
.justify-space-between
  justify-content: space-between
.d-grid
  display: grid
.two-col
  grid-template-columns: 1fr 50%
.p-fixed-top-right
  position: fixed
  top: var(--sl-spacing-x-large)
  right: var(--sl-spacing-x-large)

// sizing
.font-xs
  font-size: var(--sl-font-size-x-small)
.font-l
  font-size: var(--sl-font-size-large)
.font-xl
  font-size: var(--sl-font-size-x-large)
.font-xxl
  font-size: var(--sl-font-size-xx-large)
.font-xxxl
  font-size: var(--sl-font-size-xxx-large)
.grow-1
  flex-grow: 1
.grow-1
  flex-grow: 1
.grow-5
  flex-grow: 5
.shrink-0
  flex-shrink: 0
.width-half
  width: 50%
.width-full
  width: 100%
.height-lr
  height: var(--sl-spacing-larger)

// text
.text-overflow-ellipsis
  display: inline-block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.text-gray
  color: var(--sl-color-gray-400)

// form
sl-switch
  --width: 65px
  --height: 28px
  --thumb-size: 32px

// cursor
.c-pointer
  cursor: pointer
